@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");
body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: rgba(0, 0, 0, 0.897); 
  margin:0;
  padding:0;
  position: relative;
}
html, body {
  overflow-x: hidden;
}
svg {
  margin: 0;
  padding: 0;
  display: flex;
}


/* HEADER */
.header-container {
  margin-top: 0;
  padding-bottom: 150px;
  background-color: rgba(99, 101, 221, 0.959);
  color: white;
  text-align: justify;
  border-bottom-left-radius: 500px 200px;
  border-bottom-right-radius: 200px 300px;
}
.header-container h4 {
  font-size: 25px;
  font-weight: 600;
}
.header-container h1 {
  font-size: 60px;
  font-weight: 600;
}
.header-container p {
  color: rgba(255, 254, 254, 0.87);
  padding: 0 310px 0;
}
.header-container h4, h1, p {
  display: table;
  margin: 0 auto;
  line-height: normal;
}
@media (max-width: 1024px) {
  .header-container p, h1, h4 {
    padding: 0 20px 0;
  }
  .header-container h1 {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .header-container {
    padding-bottom: 100px;
  }
}


/* EXPECTATIONS */
.expectations{
  padding: 150px 150px 0;
  background-image: url(/images/llama1.svg);
  background-repeat: no-repeat;
}
.expectations h2 {
  font-size: 25px;
  text-align: center;
}
.expectations p {
  text-align: center;
}
.expectations ul {
  list-style-type: none;
  display: table;
  margin: 0 auto;
  padding-top: 10px;
}
@media (max-width: 900px) {
  .expectations {
    padding: 20px 20px 0;
    background-size: 120px;
  }
}


/* SLIDESHOW INSTRUCTIONS */
.slideshow-container{
  position: relative;
  top: -30px;
  margin-bottom: -50px;
}
.mySlides {
  display: none;
  padding: 0 40px 80px;
  text-align: center;
  background: #a2d9ff;

}
.dot-container {
    text-align: center;
    padding: 20px;
    background: #a2d9ff;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.781);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: rgba(99, 101, 221, 0.959);
}
@media (min-width: 1281px) {
  .mySlides {
    padding: 0 350px 80px;
  }
}


/* PAGE BREAK */
.page-break {
  padding: 120px;
  background-color: white;
  background-image: url(/images/llama4.svg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 200px;
}
@media (max-width: 412px) {
  .page-break {
    background-size: 150px;
  }
}



/* ABOUT */
.about-grid {
  top: -40px;
  margin-bottom: -50px;
  position: relative;
  background-color: #a2d9ff;
  padding: 5px 0 200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about-why {
  width: 400px;
  height: 320px;
  padding: 30px;
  border-bottom-left-radius: 500px 100px;
  border-bottom-right-radius: 200px 800px;
  border-top-left-radius: 300px 700px;
  border-top-right-radius: 100px 200px;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-bts {
  width: 400px;
  height: 350px;
  padding: 30px;
  border-bottom-left-radius: 200px 100px;
  border-bottom-right-radius: 200px 100px;
  border-top-left-radius: 700px 200px;
  border-top-right-radius: 100px 200px;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-bts li {
  text-align: justify;
}
.about-credits {
  width: 500px;
  height: 250px;
  padding: 30px;
  border-bottom-left-radius: 100px 500px;
  border-bottom-right-radius: 500px 800px;
  border-top-left-radius: 300px 100px;
  border-top-right-radius: 100px 200px;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 412px) {
  .about-why {
    height: 350px;
  }
  .about-bts{
    height: 370px;
  }
  .about-credits {
    padding: 30p 50px 30px;
    height: 280px;
  }
}
@media (max-width: 767px) {
  .about-grid {
    padding: 80px 0 200px;
  }
}
@media (max-width: 1024px) {
  .about-bts, .about-credits {
    margin-top: 25px;
  }
}
@media (min-width: 1025px) and (max-width: 1500px) {
  .about-credits {
    margin-top: 25px;
  }
}


/* FOOTER */
footer {
  background-color: #39ed78;
  text-align: center;
  padding: 50px 0 50px;
  word-spacing: 10px;
}
footer i{
  color: white;
  font-size: 40px;
}
footer i:hover {
  color: rgba(99, 101, 221, 0.959);
}


/* BACK TO TOP */
.back-to-top {
  color: rgba(0, 0, 0, 0.555);
  font-size: 30px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  line-height: 46px;
  border-radius: 50%;
  text-align: center;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.back-to-top:hover {
  color: rgba(99, 101, 221, 0.959);
}